<main class="flex justify-center h-full w-full bg-[#EEEEEE] overflow-hidden">
  <section class="relative h-full">
    <section
      class="flex flex-col items-start px-10 grow"
      [ngClass]="{
        'py-10': router.url === '/login',
        'pt-10': router.url === '/sign-in'
      }"
    >
      <div
        *ngIf="loginError"
        class="bg-red-500 text-white p-10 mb-4 w-full text-center font-[Poppins]"
      >
        Woops, something is wrong, try again later!
      </div>
      <div>
        <div>
          <img src="assets/svg/logo.svg" class="w-32" />
          <h2 class="font-bold font-[Poppins] text-[20px] mt-[30px]">
            {{ title }}
          </h2>
        </div>
        <div
          *ngIf="router.url === '/login'"
          class="flex font-normal text-grey-pure py-4 mb-10"
        >
          <span>Don't you have an account?</span>
          <button (click)="goToSignInPage()" class="underline ml-2">
            Signup Now!
          </button>
        </div>
      </div>
      <ng-content></ng-content>
      <!-- Página Login -->
      <div class="flex flex-col items-center justify-center gap-[20px] mt-4">
        <app-button
          *ngIf="router.url === '/login'"
          [text]="primaryBtnText"
          [disabled]="!(router.url !== '/login') && !loginValid"
          (click)="submit(); goToLoginPage()"
          class="rounded-lg shadow-lg cursor-pointer"
          [style]="
            'disabled:text-primary disabled:border-[1px] disabled:border-primary enabled:text-white enabled:bg-primary disabled:cursor-not-allowed w-[450px]'
          "
        >
        </app-button>
        <div
          *ngIf="router.url === '/login'"
          class="text-xs text-gray-400 tracking-wide flex items-center gap-2 uppercase w-full"
        >
          <div class="w-full h-[1px] bg-[#C2C2C2]"></div>
          <span class="w-[15.5rem]">or login with</span>
          <div class="w-full h-[1px] bg-[#C2C2C2]"></div>
        </div>
        <div
          *ngIf="router.url === '/login'"
          class="flex gap-4 w-full justify-center"
        >
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              x="0px"
              y="0px"
              width="60"
              height="60"
              viewBox="0 0 48 48"
            >
              <path
                fill="#FFC107"
                d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12c0-6.627,5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24c0,11.045,8.955,20,20,20c11.045,0,20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z"
              ></path>
              <path
                fill="#FF3D00"
                d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z"
              ></path>
              <path
                fill="#4CAF50"
                d="M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z"
              ></path>
              <path
                fill="#1976D2"
                d="M43.611,20.083H42V20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z"
              ></path>
            </svg>
            <button (click)="submit()"></button>
          </div>
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              x="0px"
              y="0px"
              width="60"
              height="60"
              viewBox="0 0 48 48"
            >
              <path
                fill="#039be5"
                d="M24 5A19 19 0 1 0 24 43A19 19 0 1 0 24 5Z"
              ></path>
              <path
                fill="#fff"
                d="M26.572,29.036h4.917l0.772-4.995h-5.69v-2.73c0-2.075,0.678-3.915,2.619-3.915h3.119v-4.359c-0.548-0.074-1.707-0.236-3.897-0.236c-4.573,0-7.254,2.415-7.254,7.917v3.323h-4.701v4.995h4.701v13.729C22.089,42.905,23.032,43,24,43c0.875,0,1.729-0.08,2.572-0.194V29.036z"
              ></path>
            </svg>
            <button (click)="submit()"></button>
          </div>
        </div>
        <!-- Página Sign up -->
        <div class="flex flex-col">
          <app-button
            *ngIf="router.url === '/sign-in'"
            [text]="secondaryBtnText"
            [disabled]="!(router.url !== '/sign-in') && !signValid"
            (click)="submit(); goToSignInPage()"
            [style]="
              'disabled:text-primary disabled:border-[1px] disabled:border-primary enabled:text-white enabled:bg-primary disabled:cursor-not-allowed w-[450px]'
            "
          >
            ></app-button
          >
        </div>
      </div>
      <div
        *ngIf="router.url === '/sign-in'"
        class="flex gap-2 m-auto mt-6 mb-2"
      >
        <button (click)="submit(); goToLoginPage()">
          <img src="/assets/svg/seta-esquerda.png" class="w-6" />
        </button>
        <span class="text-primary/30 font-medium">Return to beginning</span>
      </div>
    </section>
  </section>
  <section
    class="flex flex-col items-center grow-[0,0,1] bg-[#EEEEEE] p-13 h-full"
  >
    <h1 class="font-bold tracking-wide text-lg font-[Poppins]">
      You Should, MoveIt!
    </h1>
    <img src="/assets/svg/main-ilustration.svg" />
  </section>
</main>
