<main class="flex flex-row items-center h-full w-full justify-center">
  <section class="flex flex-col items-center justify-center grow-[0.0,1] px-9">
    <img src="assets/svg/logo.svg" />
    <h2 class="font-bold font-[Poppins] text-[20px] mb-[45px] mt-[30px]">
      {{ title }}
    </h2>
    <ng-content></ng-content>
    <div class="flex flex-col items-center justify-center gap-[30px]">
      <app-button
        [text]="primaryBtnText"
        (click)="submit()"
        [ngClass]="['text-white', 'font-bold']"
        class="bg-primary rounded-lg shadow-lg cursor-pointer shadow-purple-500/30"
        (click)="goToLoginPage()"
      >
      </app-button>
      <div
        class="text-xs text-gray-400 tracking-wide flex items-center gap-5 uppercase w-full"
      >
        <div class="w-full h-[1px] bg-[#C2C2C2]"></div>
        <span>or</span>
        <div class="w-full h-[1px] bg-[#C2C2C2]"></div>
      </div>
      <app-button
        [text]="secondaryBtnText"
        [ngClass]="[
          'text-primary',
          'font-bold',
          'border-[1px]',
          'border-primary',
          'rounded-lg',
          'cursor-pointer'
        ]"
        (click)="goToSignInPage()"
      ></app-button>
    </div>
  </section>
  <section
    class="flex flex-col items-center justify-center h-full grow bg-[#EEEEEE]"
  >
    <h1 class="font-bold tracking-wide text-lg font-[Poppins]">
      You Should, MoveIt!
    </h1>
    <img src="/assets/svg/main-ilustration.svg" />
  </section>
</main>
