<form [formGroup]="signInForm" class="flex flex-col">
  <app-default-login-layout
    [title]="'Sign in and start today!'"
    [secondaryBtnText]="'Sign Up'"
    (submit)="submit()"
    [control]="signInForm"
    [signValid]="signValid"
  >
    <app-primary-input
      type="name"
      label="Name"
      placeholder="John Doe"
      [control]="name"
      inputName="name"
      class="text-grey-pure text-[16px] w-full mb-6 mt-10"
    >
      <img src="/assets/svg/email.png" />
    </app-primary-input>
    <app-primary-input
      type="email"
      label="Email Address"
      placeholder="johndoe@gmail.com"
      [control]="email"
      inputName="email"
      class="text-grey-pure text-[16px] w-full mb-6"
    >
      <img src="/assets/svg/email.png" />
    </app-primary-input>
    <app-primary-input
      type="password"
      label="Password"
      placeholder="Enter your password"
      [control]="password"
      inputName="password"
      class="text-grey-pure text-[16px] w-full mb-6"
    >
      <img src="/assets/svg/password.png" />
    </app-primary-input>
    <app-primary-input
      type="password"
      label="Repeat password"
      placeholder="Repeat Password"
      [control]="repeatPassword"
      inputName="repeatPassword"
      class="text-grey-pure text-[16px] w-full mb-6"
    >
      <img src="/assets/svg/password.png" />
    </app-primary-input>
    <div *ngIf="signInForm.hasError('passwordMismatch')" class="text-red-500">
      Password do not match
    </div>
  </app-default-login-layout>
</form>
